<div class="container">

<div id="refinement-list">
</div>

<div id="hits">
</div>

</div>


<script>
  const search = instantsearch({
  appId: 'JH5PBQKH6H',
  apiKey: '2887c3d50be0928409ed49d93cfbc6a7',
  indexName: 'Bookmark',
  routing: true,
  // searchParameters: {
    // filters: 'objectID:9'
  // }
});

  // initialize SearchBox
  search.addWidget(
    instantsearch.widgets.searchBox({
      container: '#search-box',
      placeholder: 'Search for products'   
    })
  );


  search.addWidget(
    instantsearch.widgets.hits({
      container: '#hits',
      templates: {
        empty: 'No results',
        item: '<a href="{{{url}}}"> {{{_highlightResult.title.value}}} {{{_highlightResult.url.value}}}</a>'
      }
    })
  );

search.start();
</script>

