.main {
	/*background-color: #F8F8F8;*/
	height: 95vh;
}

a {
	color: #000 !important;
}

.new-bookmark {
	width: 50%;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}

.new-bookmark input {
	border: none;
}

.new-bookmark-input {
	width: 100%;
}

