.main {
	/*background-color: #F8F8F8;*/
	height: 95vh;
}

a {
	color: #000 !important;
}

.new-bookmark {
	margin: 0 auto;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 50px;
}

.new-bookmark input {
	border: none;
	width: 100% !important;
	font-size: 18px;
	font-weight: 300;
}



.new-bookmark-input {
	
}







