.main {
	/*background-color: #F8F8F8;*/
	height: 95vh;
}

a {
	color: #000 !important;
}

a:focus {
	outline-width: 0;
}

.new-bookmark {
	padding-bottom: 10px;
}

.new-bookmark input {
	border: none;
	width: 100% !important;
	font-size: 18px;
	font-weight: 300;
}



.new-bookmark-input {
	
}







