.navbar {
	background-color: #fff;
}

input.ais-search-box--input:focus {
    outline-width: 0;
}

.hidden {
	display: none;
}


.ais-search-box  {
}

.ais-search-box--input {
	color: #000;
	border: none;
	font-weight: 300;
}

.new-bookmark {
	margin: 0 auto;
}


.bookmark-container {
	border-bottom: 1px solid #eee;
	padding: 5px 5px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.bookmark-container a {
	font-size: 20px;
}