
<nav class="navbar mb-4 container">
  <div class="col-md-12 branding text-center">
  <%= link_to "Bookmarks", bookmarks_path, class: "navbar-brand" %>
  <%= link_to "My Settings", edit_user_registration_path, class: "nav-link" %>
  <%= link_to "Add Link", "#", data: { target: "#exampleModal", toggle: "modal" }, class: "nav-link" %>

 </div>
</nav>